{% extends 'admin/change_list.html' %}
{% block object-tools %}
</form>
    <form id="logout-form" method="POST">
        {% csrf_token %}
        <input name="logout_user" class="vTextField">
        <button class="btn btn-outline-danger" type="submit">Logout User</button>
    </form>
    <br>
    <script>
        let logout_form = document.querySelector('#logout-form')
        logout_form.querySelector('input[name="logout_user"]').addEventListener('change', function(e){
            let logout_user = e.target.value
            logout_form.action = 'logout_user/' + logout_user + '/'
        })
    </script>
    {{ block.super }}
{% endblock object-tools %}

